header img {
    width: 60px;
    height: 60px;
 }
 .Radisson img{
     width: 250px;
     height: 200px;
 }
 .lalit img{
    width: 250px;
    height: 200px;
 }
 .Taj-Palace img{
    width: 250px;
    height: 200px;
 }
